* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    padding: 6rem 6rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M49.18 515.57a22.49 22.49 0 1 0-34.33 29.07z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M40.51 398.67 a51.75 51.75 0 1 0 103.5 0 a51.75 51.75 0 1 0 -103.5 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M111.92 544.12L140.76 544.12L140.76 572.96L111.92 572.96z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M779.32 326.13a13.76 13.76 0 1 0 16.41 22.09z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M231.46 149.56a51 51 0 1 0 100.46 17.68z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M594.05 440.18L635.75 440.18L635.75 481.88L594.05 481.88z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M966.02 111.51a54.24 54.24 0 1 0-5.16-108.36z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M936.88 484.33L960.74 484.33L960.74 514.18L936.88 514.18z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M418.4 233.39L444.09 233.39L444.09 256.31L418.4 256.31z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M811.2 117.46L830.21 117.46L830.21 136.47L811.2 136.47z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M494.99 486.84L498.56 486.84L498.56 490.41L494.99 490.41z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M75.01 286.59 a45.32 45.32 0 1 0 90.64 0 a45.32 45.32 0 1 0 -90.64 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1076.14 288.51L1096.33 288.51L1096.33 308.7L1076.14 308.7z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M216.54 283.11a3.52 3.52 0 1 0 6.92-1.3z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1097.37 212.47a12.45 12.45 0 1 0-4.98 24.39z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1026.84 371.07L1065.26 371.07L1065.26 409.49L1026.84 409.49z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1335.34 403.39L1349.02 403.39L1349.02 444.07L1335.34 444.07z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M961.54 548.82 a23.15 23.15 0 1 0 46.3 0 a23.15 23.15 0 1 0 -46.3 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1334.67 156.54L1374.25 156.54L1374.25 196.12L1334.67 196.12z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1317.95 484.51L1362.39 484.51L1362.39 499.13L1317.95 499.13z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M690.31 378.22L736.78 378.22L736.78 412.01L690.31 412.01z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M795.9 277.68L818.08 277.68L818.08 299.86L795.9 299.86z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M468.16 157.87L470.23 157.87L470.23 208.2L468.16 208.2z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M751.86 169.57a30.15 30.15 0 1 0-7.69 59.8z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M755.17 70.8 a32.11 32.11 0 1 0 64.22 0 a32.11 32.11 0 1 0 -64.22 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M645.54 126.13L672.73 126.13L672.73 153.32L645.54 153.32z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1130.16 497.61a35.13 35.13 0 1 0 3.93 70.15z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M714.71 178.52L737.45 178.52L737.45 186.65L714.71 186.65z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1372.25 333.3 a11.87 11.87 0 1 0 23.74 0 a11.87 11.87 0 1 0 -23.74 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M164.47 111.12L183.89 111.12L183.89 117.63L164.47 117.63z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M883.55 543.03L904.62 543.03L904.62 564.1L883.55 564.1z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M445.18 47.68L465.16 47.68L465.16 90.21L445.18 90.21z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1370.39 216.53L1378.46 216.53L1378.46 224.6L1370.39 224.6z' stroke='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    border-radius: 4px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}

.card {
    max-width: 220px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}

.card .card-img img {
    border-radius: 5%;
    width: 100%;
}

.card .card-body {
    padding: 10px;
}


.card .card-body h3 {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.card .card-body p {
    margin: 10px 0;
    font-size: 11px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
@media screen and (max-width: 375px) {

    body{
        padding: 6rem 3.8rem;
    }

}